{% extends 'index.html' %}
{% load static %}

{% block title %}
Index
{% endblock %}


{% block content %}
<h1>My todo app</h1>
<div>
    <input type="text" class="add-todo-input">
    <button class="add-todo=button">add todo</button>
</div>
<ul class="todo_container">
    <li class="todo-item">1</li>
    <li class="todo-item">2</li>
    <li class="todo-item">3</li>
    <li class="todo-item">4</li>
    <li class="todo-item">5</li>
</ul>
<h2> Hello world!!!</h2>

{% for name in names %}
<p>
    {{name}}
</p>
{% endfor %}

<!--<img src="{%static 'img/bg_2.png'%}" alt="">-->
<a href="base.html">Go to blank page 1</a>
<a href='new.html'>Go to blank page 2</a>
<img src="{% static 'img/dragon.png' %}" alt="">
{% endblock %}